:host {
  display: block;
}


button {
  display: inline-block;
  -webkit-appearance: none;
  background-color: var(--radh-button-background-color, orange);
  border: none;
  border-radius: 5px;
  color: var(--radh-button-color, white);
  margin: 10px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  box-shadow: inset 99px 99px transparent;
  transition: 500ms box-shadow;
}

button:hover {
  box-shadow: inset 99px 99px rgba(255,255,255,0.18);
}

button:active {
  box-shadow: inset 99px 99px   rgba(0,0,0,0.18);
}

button:disabled{
  box-shadow: inset 99px 99px rgba(255,255,255,0.18);
  cursor: not-allowed;
}